pkgbase = linux-wireless-reg-unlocked
	pkgdesc = Patched iwlwifi and cfg80211 modules with LAR disable and modified regulatory behavior for Arch Linux
	pkgver = 6.19.9
	pkgrel = 2
	url = https://github.com/TenkyuChimata/linux-wireless-reg-unlocked
	install = linux-wireless-reg-unlocked.install
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = kmod
	makedepends = patch
	depends = linux=6.19.9.arch1-1
	depends = linux-headers=6.19.9.arch1-1
	depends = zstd
	optdepends = mkinitcpio: rebuild initramfs for mkinitcpio-based systems
	optdepends = dracut: rebuild initramfs or UKI for dracut-based systems
	optdepends = systemd: required for kernel-install based workflows
	optdepends = sbctl: re-sign boot artifacts for Secure Boot systems if needed
	options = !debug
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.9.tar.xz
	source = 0001-iwlwifi-add-lar_disable.patch
	source = 0002-iwlwifi-unlock-6ghz-and-noir.patch
	source = 0003-cfg80211-disable-regdom-intersect-and-ignore-hints.patch
	source = iwlwifi-lar.conf
	source = dracut-wireless-reg-unlocked.conf
	sha256sums = c16068a3af12e3943dee3b1eef57ca70229c069128bfa1184fb3f48b219d55bf
	sha256sums = da2ab52ccdef2b93088c9e0c56bc1c166bf748d021b529cb2af2ff6c5d9e85cc
	sha256sums = 8510a7a2b69f696999efddb40c79f3735049406d0f8432c2a23dd3f58ab8f883
	sha256sums = ef26436f30412184a8af4418f7deb00992ef7624d9dc4960d9730e56ed2cee25
	sha256sums = d0f468221c28f5f07a040f36df4dcf571d3931eef7ed273d4e57b631ef9540d3
	sha256sums = 3758f059f40e24561f588829cb80384324d75b0745d5eba6f4b6313b5809e2d1

pkgname = linux-wireless-reg-unlocked
