pkgbase = linux-wireless-reg-unlocked
	pkgdesc = Patched Intel iwlwifi/iwlmvm modules with LAR disable and 6GHz/NO_IR unlock support for Arch Linux UKI systems
	pkgver = 6.19.9
	pkgrel = 1
	url = https://github.com/TenkyuChimata/linux-wireless-reg-unlocked
	install = linux-wireless-reg-unlocked.install
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	depends = linux=6.19.9.arch1-1
	depends = linux-headers=6.19.9.arch1-1
	depends = dracut
	depends = systemd
	depends = zstd
	options = !strip
	options = !debug
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.9.tar.xz
	source = 0001-iwlwifi-add-lar_disable.patch
	source = 0002-iwlwifi-unlock-6ghz-and-noir.patch
	source = 0003-cfg80211-disable-regdom-intersect-and-ignore-hints.patch
	source = iwlwifi-lar.conf
	source = dracut-iwlwifi.conf
	sha256sums = SKIP
	sha256sums = da2ab52ccdef2b93088c9e0c56bc1c166bf748d021b529cb2af2ff6c5d9e85cc
	sha256sums = 8510a7a2b69f696999efddb40c79f3735049406d0f8432c2a23dd3f58ab8f883
	sha256sums = ef26436f30412184a8af4418f7deb00992ef7624d9dc4960d9730e56ed2cee25
	sha256sums = d0f468221c28f5f07a040f36df4dcf571d3931eef7ed273d4e57b631ef9540d3
	sha256sums = 92177e53d23660b4bef9cadf192418a6dead40f38606368fd44532a6a5272ca5

pkgname = linux-wireless-reg-unlocked
